# Dictionary

>> ordered collection of key-value pairs
>> each key must be uniqe and immutable
>> use curly brases {} key values separated by : 
>> evey key-value pair separeted by commas

In [ ]:
dict1={"virat":35,"Rohit":40,"Ashwin":43}
print(dict1)

Propertis

1.Mutable
2.collection of key-value pairs
4.cannot use indexing
5.duplicate keys are not allowed
6.duplicate values are allowed
7.are enclosed by {}, pair of key and values are separated by ,
8.ordered

In [ ]:
dict1={1:35,3.5:"python","L":45,"data":"SCience"}
print(dict1)

In [ ]:
dict2={1:"python",2:"sql",3:"java",2:"html"}
print(dict2)

In [ ]:
dict3={"id":123,"Name":"Chaitali","City":"Ambajogai","state":"MAharashtra"}
print(dict3)
print(type(dict3))

you can access the values in adictionary using their corresponding keys.

In [ ]:
dict3={'A':200,'B':300,'C':400,'D':500}
print(dict3)
print(dict3['A'])
print(dict3['B'])

In [ ]:
#1.get(key,default=none)

dict3={'A':200,'B':300,'C':400,'D':500}
print(dict3.get("A"))

In [ ]:
#2.keys()
# reyurns a veiw object that displays a lisy of all the keys in the dictionary 
# if we make changes in the oringinal 

dict3={'A':200,'B':300,'C':400,'D':500}
keys=dict3.keys()
print(keys)
print(list(keys))

In [ ]:
#3.values()
# display a list of all the values in the dictionary
dict3={'A':200,'B':300,'C':400,'D':500}
values=dict3.values()
print(values)
print(list(values))

In [ ]:
#4.items()
#display a list of all key-value pair as a tuple

dict3={'A':200,'B':300,'C':400,'D':500}
items=dict3.items()
print(items)
print(list(items))

In [ ]:
my_dict={"name":"Chaitali","age":21,"city":"Bangluru"}
keys=my_dict.keys()
print(list(keys))
values=my_dict.values()
print(list(values))
items=my_dict.items()
print(list(items))

In [ ]:
#5.update()

d1={}
d2={4:16,5:44,6:23}
d1.update(d2)
print(d1)

In [ ]:
my_dict={"name":"Chaitali","age":21,"city":"Bangluru"}
print(my_dict)
d1={"job_role":"full stack developer"}
my_dict.update(d1)
print(my_dict)

In [ ]:
my_dict={"name":"Chaitali","age":21,"city":"Bangluru"}
my_dict.update({"state":"Karnataka"})
print(my_dict)

In [ ]:
#6.fromkeys()
# this method is a quick way to create a new dictionary where all keys have same initial values
# to initialize a diction with deafault value for a set of key
# syntax
#     dict.fromkeys(keys,values)

user=["name","email","phone"]
user_profile=dict.fromkeys(user)
print(user_profile)

In [ ]:
user=["name","email","phone"]
user_profile=dict.fromkeys(user,0)
print(user_profile)

In [ ]:
#7.zip()
# used to pair a items from two or more list
# useful to crate a dictionary when you have your keys in one list and values in another

kays=['name','company','city']
values=['sita','Google','Bangluru']
em=dict(zip(keys,values))
print(em)

In [ ]:
key=['A','B']
val=[1,2,3]
dict1=dict(zip(key,val))
print(dict1)

In [ ]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': 80000},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}
len(employee_details)

In [ ]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': 80000},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10005']['Name'] #dict
employee_details['TCS10005']['Salary']

In [ ]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': 80000},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006']['Name']

In [ ]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer',
                                'Location': 'Mumbai',
                                'Salary': [80000,40000,60000,70000]},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006']['Salary']#[1]
employee_details['TCS10006']['Salary'][1]

In [ ]:
employee_details = {"TCS10005": {'Name': 'Vishal',
                                'Age' : 28,
                                'Designation': 'Data Scientist',
                                'Location': 'Pune',
                                'Salary': 95000},
                    "TCS10006" :{'Name': 'Pravin',
                                'Age' : 27,
                                'Designation': 'Python Developer', #aplication developer
                                'Location': 'Mumbai',
                                'Salary': [80000,40000,60000,70000]},
                    "TCS10007" :{'Name': 'Anand',
                                'Age' : 29,
                                'Designation': 'Data Analyst',
                                'Location': 'Banglore',
                                'Salary': 90000}}

employee_details['TCS10006']['Designation'] #= "Application Developer"
#employee_details
employee_details['TCS10006']['Designation'] = "Application Developer"
employee_details

In [ ]:
#1.pop()
# remove element with specified key
my_dict={"name":"Chaitali","age":21,"city":"Bangluru"}
my_dict.pop("age")
print(my_dict)

In [ ]:
#2.popitem()
em={"name":"vikram",
    "age":24,
    "comapny":"Wipro",
    "location":"Pune",
    "Salary":87000}
em.popitem()
print(em)

In [ ]:
#3.clear()

em={"name":"vikram",
    "age":24,
    "comapny":"Wipro",
    "location":"Pune",
    "Salary":87000}
em.clear()
print(em)

In [ ]:
#4.del()
em={"name":"vikram",
    "age":24,
    "comapny":"Wipro",
    "location":"Pune",
    "Salary":87000}
del em['age']
print(em)

In [ ]:
my_info={}
d2={'name':'chaitali','age':'21'}
my_info.update(d2)
print(my_info)