# List

In [ ]:
#List is a collection of items
#we can add datatypes in list
#datatypes>>int, float ,str complex, list, dict, tuple,frozenset,set, 
#pandas series

In [ ]:
list1=[12,23,56,78]
type(list1)
list2=["narendra","amit","jay","nirmala",12,43,34.55]
type(list2)

In [ ]:
list3=[12,32,34,[43,55,67],"priti","nandu"]#nested list=list inside list
print(type(list3))
len(list3)
print(type(list3[0]))

In [ ]:
list11=["narendra",12,34.45,(3+4j)]
print(type(list11))
print(type(list11[0]))
print(len(list11))

In [ ]:
list7=[1,2.5,'python',20,2+5j]
print(list7)
list7[0]='data'
list7

In [ ]:
list7=[1,2.5,'python',20,2+5j]
print(len(list7))
list7[0]

In [ ]:
list7=[1,2.5,'python',20,2+5j]
print(len(list7))
list7[-1]
list7[-2]

In [ ]:
#list[start:end:step]

list2=[1,2,3,4,5,6,7,8,9,10]
print(list2[1:6])
print(list2[-7:-2])
print(list2[1:-2])
print(list2[:8:3])
print(list2[2:])
print(list2[::2])
print(list2[::-1])

In [ ]:
list3=[1,2,3,4,5,6,2,5,7,83,2]
print(list3[1:5])
print(list3[2:])
print(list3[::2])
print(list3[::-1])#reversed list

In [ ]:
ls1=[1,2,3,[44,55,66],[777,888,999]]
print(ls1[1:4])
print(ls1[:3])
print(ls1[::2])
print(ls1[::-2])
print(ls1[0:5:2])

In [ ]:
ls1=[1,2,3,[44,55,66],[777,888,999]]
print(len(ls1))
print(ls1[3])
print(ls1[3][1:])
print(ls1[4][2])

In [ ]:
ls1=[1,2,3,[44,55,66],[777,888,999],[12,34,56,78,98]]
print(ls1[5][0:4:2])
print(ls1[5][::2])

In [ ]:
list2=[1,2,3,4,5,5]
for val in list2:
    print(val)

In [ ]:
city_names=["pune","ahemadnagar","mumbai","amravati"]
for city in city_names:
    print('city name is ',city.upper())
    print("*"*50)

In [ ]:
#syntax
#new_list=list(iterable)

In [ ]:
at="python_@#$%^1234"
l=list(at)
print(l)

In [ ]:
ra=range(0,10)
print(list(ra))