# Loops

# For loop

In [1]:
for i in range(1,50):
    if(i%2==1):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [2]:
total=0
print(total)
for num in range(1,11):
    total +=num
print(total)

0
55

In [3]:
total=0
print(total)
for num in range(1,50):
    total+=num
print(total)

0
1225

In [4]:
number=[3,10,9,15,22,21,30]
print("Number is diviisble by 3:")
for i in number:
    if i%3==0:
        print(i)

Number is diviisble by 3:
3
9
15
21
30

In [5]:
numbers=[1,2,3,4,5]
for num in numbers:
    if num==3:
        break
    print(num)

1
2

In [6]:
#program to find odd between range 0 to 10
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

# While loop

In [ ]:
count=1
while count<=5:
    print(count)
    count+=1